doctype html 
html
  head
    title AJ Dance Academy
    block scripts
    block style 
  body
    nav#navbar 
            div#logo 
                img(src="../static/images/logo.jpg", alt="Logo Of website" id="logoimg")
            ul 
                li #[a(href="/") Home ]
                li #[a(href="/") About] 
                li #[a(href="/") Services] 
                li #[a(href="/") Class Info] 
                li #[a(href="/contact") Contact Us]
    block content
    footer#foot 
            p  Copyright © 2021 AnjayDanceAcademy.com | All Rights Reserved